*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: purple;
}
#galeria{
    display: columns;
    
}
#galeria img {
    width: 25%; 
    height: 50vh; 
    object-fit: cover; 
    padding: 10px;
    border-radius: 10%;
     
}